---
import { getFrameworkRouter } from '../../utils/GetRouter';

import Card from '../../components/Card.astro';
import Layout from '../../layouts/Layout.astro';
const routes = getFrameworkRouter('Vanilla');
---

<Layout title="Welcome to React.">
  <main>
    <ul
      role="list"
      class="link-card-grid"
    >
      {routes.map((route) => <Card {...route} />)}
    </ul>
  </main>
</Layout>

<style>
  @import url('/src/styles/RouteStyle.css');
</style>
