---
import Card from '../../components/Card.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Vanilla.">
  <main>
    <ul
      role="list"
      class="link-card-grid"
    >
      <Card
        href="/Vanilla/Demo"
        title="Demo"
        body="Learn Vanilla JS"
      />
    </ul>
  </main>
</Layout>

<style>
  @import url('/src/styles/RouteStyle.css');
</style>
