---
import LayoutReact from '../../../layouts/LayoutReact.astro';
import CharacterLimit from './character-limit/index';
import CharacterLimitProps from './character-limit-props/index';
---

<LayoutReact title="React playground">
  <div class="w-[40rem]">
    <CharacterLimit client:load />
    <div class="h-1 w-full bg-slate-800"></div>
    <CharacterLimitProps client:load />
  </div>
</LayoutReact>;

