/* Your CSS goes here */

img {
	width: 200px;
	border-radius: 50%;
}

h4 {
	margin-top: 15px;
}

h6 {
	margin: 8px;
}

p {
	margin: 5px;
}

.badge {
	width: 300px;
	margin: 0 auto;
	border: 1px solid var(--biege-10);
	border-radius: 8px;
	background-color: var(--charcoal);
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

button {
	margin: 0;
	margin-top: 15px;
}
