---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="mt-8"><span class="text-gradient"> Learning Playground</span></h1>
    <p class="instructions">
      This is a playground for learning different web technologies. Such as Vue or React.
    </p>
    <ul
      role="list"
      class="link-card-grid"
    >
      <Card
        href="/React/Router"
        title="React"
        body="This is React playground."
      />
      <Card
        href="/Vue/Router"
        title="Vue"
        body="This is Vue playground."
      />
      <Card
        href="/Vanilla/Router"
        title="Vanilla"
        body="This is Vanilla JS playground."
      />
    </ul>
  </main>
</Layout>

<style>
  @import url('/src/styles/RouteStyle.css');
</style>
