---
import LayoutReact from '../../../layouts/LayoutReact.astro';

import Clock from './clock/index';
import CountryInfo from './country-info/index';
import SearchFilter from './search-filter/index';
---

<LayoutReact title="React playground">
  <div class="w-[40rem]">
    <Clock client:only="react" />
    <div class="h-1 w-full bg-slate-800 mt-8"></div>
    <CountryInfo client:load />
    <div class="h-1 w-full bg-slate-800 mt-8"></div>
    <SearchFilter client:load />
  </div>
</LayoutReact>;

