---
import Card from '../../components/Card.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <ul
      role="list"
      class="link-card-grid"
    >
      <Card
        href="/React/Demo/demo"
        title="React Demo"
        body="This is React Demo playground"
      />
      <Card
        href="/React/ReactOfficalToe"
        title="React Offical"
        body="This is React offical tutorial"
      />
      <Card
        href="/React/ReactGG01"
        title="react-gg-01"
        body="This is react-gg tutorial part 1"
      />
      <Card
        href="/React/ReactGG02"
        title="react-gg-01"
        body="This is react-gg tutorial part 1"
      />
    </ul>
  </main>
</Layout>

<style>
  @import url('/src/styles/RouteStyle.css');
</style>
